<html>
<head>
<title> Homepage</title>
<link rel="stylesheet" href="webPage.css">
</head>

<body>

<header>
<nav>
<b>Site Title</b>
<div class="head">
<a href="#home">Home</a>
<a href="#about">About</a> 
<a href="#contact">Contact</a>
</div>
</nav>
</header>

<div class="grid-container">

<div class="left-side">
<p>Dashboard</p><br>
<p>Profile</p><br>
<p>Settings</p><br>
<p>Logout</p><br>
</div>

<div class="right-side">
	<div>
	<h4>Card Title 1</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 2</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 3</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 4</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 5</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 6</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
	<div>
	<h4>Card Title 7</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<button>Read More</button>
	</div>
</div>
</div>

<footer>
<p>@2024 Responsive Layout Assignment</p>
</footer>
</body>


</html>