<body style="background-image:url('~/Content/Images/defaultPageBg.png');">
    <h2 style="text-align: center;">Welcome To Streamverse.tv</h2>
    <h4 style="text-align: center;">A one-stop destination to all MOVIES</h4>
    
</body>


